<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Rock Paper Scisor</title>

  <!-- HTML -->


  <!-- Custom Styles -->
  <link rel="icon" href="/images/icon.ico">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/load.css">

</head>

<body class="load">
  <!-- loading screen -->
  <!-- <div class="loadingScreen">
    <div class="ring"></div>
    <p>Loading...</p>
  </div> -->

  <div class="container ">
    <h1>Wellcome</h1>
    <div class="computer-sec">
      <h1>Computer</h1>
      <div class="computer ">
      </div>
    </div>
    <div class="result">
      <h3 id="result">Let's Play Together</h>
    </div>

    <div class="button-sec">
      <button id="rock">Rock</button>
      <button id="paper">Paper</button>
      <button id="sccisor">Scisor</button>
    </div>
  </div>
  <footer>
    <h6>copyright&copy;<span><a href="https://www.instagram.com/___its_yo_men_subrodip___">Dev Dhiraj Code</a></span> 2024|| all rights reserve</h6>
  </footer>
  

  <!-- Project -->
  <script src="/scripts/main.js"></script>
</body>

</html>